/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Homepage */
.about {
    padding: 40px;
    text-align: center;
}

.about h2 {
    font-size: 2rem;
}

.about p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 20px auto;
}

/* Menu Page */
.menu {
    padding: 40px;
    text-align: center;
}

.menu h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu ul li h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.menu ul li p {
    font-size: 1.2rem;
    color: #777;
}
